$bisque: bisque;
$blue: blue;
$pink: pink;
$brown: brown;
$array: $bisque,
$blue,
$pink,
$brown;
@for $i from 1 through length($array) {
    .item-#{$i} {
        background: nth($array, $i);
        margin: 5px;
        height: 100px;
        padding-top: 25px;
    }
}